= content_for :form_content do
  %h1
    Login to Firebot
  = form_tag do
    .form__field
      = text_field_tag :email, "",
        class: "form__input--green form__input--medium form__input--width",
        placeholder: "Email", type: "email"
    .form__field
      = form_tag do
        = password_field_tag :password, "",
          class: "form__input--green form__input--medium form__input--width",
          placeholder: "Password"
    = button_tag "Login",
      class: "form__button--green form__buton--medium form__buton--width"

= content_for :form_footer do
  .form__footer--left
    %p
      = link_to "Forgot password", "#"
  .form__footer--right
    %p
      Don't have an account?
      = link_to "Sign up", new_user_path

= render "shared/forms/center"
