= content_for :page_title, "Edit #{@model.name}"

.content__body
  %h3
    = link_to @app.name, @app
    \-
    = link_to "Models", backend_app_models_path(@app)
    \- Edit #{@model.name}
    = form_tag backend_app_model_path(@app, @model), method: :delete do
      = button_tag "Delete"
  .content__body__list
    = render partial: "models/shared/schema_table", locals: { model: @model }
  .form
    = render "shared/forms/errors"
    = form_for @model, url: backend_app_model_path(@app, @model) do |f|
      .form__field
        .form__field__text
          %p
            The name of the model will be capitalized.
            For best practices, try to make the model name singular
            (e.g. User, Car, Pet, etc.)
        = f.text_field :name, autocomplete: "off", class: "form__input--width"
      = render "models/shared/column_fields"
      = f.button "Save", class: "form__button"
      = link_to "Cancel", backend_app_models_path(@app),
        class: "form__button--gray"

