= content_for :page_title, "Edit #{@model.name}"

.content__body
  %h3
    Edit model
  .form
    = render "shared/forms/errors"
    = form_for @model, url: backend_app_model_path(@app, @model) do |f|
      .form__field
        %p
          The name of the model will be capitalized.
          For best practices, try to make the model name singular
          (e.g. User, Car, Pet, etc.)
        = f.text_field :name, autocomplete: "off", class: "form__input--width"
      .form__field
        = text_field_tag :name, "", class: "form__input",
          placeholder: "Column name"
      .form__field
        = select_tag :type, options_for_select(Model::COLUMN_TYPES, "string"),
          class: "form__input"
      .form__field
        %p
          Required?
        = check_box_tag :required
      .form__field
        = text_field_tag :relationship_to, "", class: "form__input",
          placeholder: "Relationship to"
      = f.button "Save", class: "form__button"
      = link_to "Cancel", backend_app_models_path(@app),
        class: "form__button--gray"

