= content_for :page_title, "New Model"

.content__body
  %h3
    = render "models/shared/index_breadcrumbs"
    = link_to "Models", backend_app_models_path(@app)
    \- New Model
  .form
    = render "shared/forms/errors"
    = form_for @model, url: backend_app_models_path(@app) do |f|
      .form__field
        .form__field__text
          %p
            The name of the model will be capitalized.
            For best practices, try to make the model name singular
            (e.g. User, Car, Pet, etc.)
        = f.text_field :name, autocomplete: "off", class: "form__input--width"
      = render "models/shared/column_fields"
      = f.button "Create", class: "form__button"
      = link_to "Cancel", backend_app_models_path(@app),
        class: "form__button--gray"
