= content_for :page_title, "Add Component"

.content__body
  %h3
    = render "backend_apps/shared/breadcrumbs"
    = link_to "Components", backend_app_components_path(@app)
    \-
    Add Component
  %p
    Select a component and add it to your app
  .content__body__list
    %ul{ type: "circle" }
      - @components.each do |component, components|
        %li
          %p
            = component.name
            \-
            %i
              = component.description
            = form_tag backend_app_components_path(@app) do
              = hidden_field_tag :component_id, component.id
              = button_tag "Add component"
          - components.each do |comp|
            %p
              \-
              = comp.name
              \-
              %i
                = comp.description
