= content_for :header do
  %span

.hero
  .hero__background
    .hero__background__tint
    .hero__background__image
    .hero__background__content
      .hero__background__content__image
        = image_tag "logo.png"
      .hero__background__content__text
        %h1
          Firebot starts you up
      .hero__background__content__actions
        = link_to "Get started", "#", class: "js-button js-scroll-to",
          data: { "scroll-to-key" => "get-started" }

%section.about
  .section__content
    %h3
      We make it simple for you to customize and
      launch your backend application.

%section.definition
  .section__pattern
    .section__content
      %h2
        What is a
        <span>Backend</span>?
      %p
        Your backend includes a server, application, and database.
        This is where all your business logic happens; from uploading images,
        processing payments, sending emails, saving user information, etc.
  .section__content
    %h2
      What is a
      <span>Backend</span>?
    %p
      Your backend includes a server, application, and database.
      This is where all your business logic happens; from uploading images,
      processing payments, sending emails, saving user information, etc.

%section.features
  .section__content
    %h2
      Zero to one hundred
    .steps
      .step
        .step__body
          .step__body__image
            %i.fa.fa-magic
          .step__body__title
            %h3
              Zero code
          .step__body__text
            %p
              Our tool is ultra
              %span
                simple
              so that you will never have to write a single line of code
      .step
        .step__body
          .step__body__image
            %i.fa.fa-cogs
          .step__body__title
            %h3
              Customizable
          .step__body__text
            %p
              Make anything your business requires and as fast as you need,
              you hold all the
              %span
                power
      .step
        .step__body
          .step__body__image
            %i.fa.fa-shield
          .step__body__title
            %h3
              Dependable
          .step__body__text
            %p
              You never have to worry because we
              host, maintain, and document
              %span
                everything
              for your backend
    .clear

= content_for :start_section_content do
  .section__content
    %h2
      Get started now
    %div
      .section__content__action
        = link_to "Login", login_path,
          class: "form__button--blue form__button--medium left"
      .section__content__action
        = link_to "Sign up", new_user_path,
          class: "form__button--medium right"
    .clear


%section.start.get-started
  .section__pattern
    = yield :start_section_content
  = yield :start_section_content
