= content_for :page_title, "Documentation"

.content__body
  %h3
    = render "backend_apps/shared/breadcrumbs"
    Documentation
  %p
    All API is accessed via the https://api.firebot.io domain

.content__body
  %h3
    Headers
  %p
    With each request, add these in your header
  .content__body__list
    %ul{ type: "circle" }
      %li
        %p
          X-Firebot-Application-Id
          \-
          = @app.uid
      %li
        %p
          X-Firebot-Application-Key
          \-
          = @access_token.try :token
      %li
        %p
          Content-Type
          \-
          application/json

- @models.each do |model|
  .content__body
    %h3
      = model.name
    %table
      %tr
        %td
          URL
        %td
          HTTP Verb
        %td
          Functionality
      %tr
        %td
          = "/1/objects/#{model.name}"
        %td
          GET
        %td
          Query multiple #{model.name} objects
      %tr
        %td
          = "/1/objects/#{model.name}"
        %td
          POST
        %td
          Create a new #{model.name}
      %tr
        %td
          = "/1/objects/#{model.name}/<#{model.name}_ID>"
        %td
          GET
        %td
          Retrieve a single #{model.name} object
      %tr
        %td
          = "/1/objects/#{model.name}/<#{model.name}_ID>"
        %td
          PATCH or PUT
        %td
          Update a single #{model.name} object
      %tr
        %td
          = "/1/objects/#{model.name}/<#{model.name}_ID>"
        %td
          DELETE
        %td
          Delete a single #{model.name} object

