= content_for :page_title, "Apps"

.content__body
  %h3
    Apps
  - if @apps.present?
    .content__body__list
      %p
        Create a
        = link_to "new app", new_backend_app_path
      %ul{ type: "circle" }
        - @apps.each do |app|
          %li
            %p
              = link_to app.name, app
              - if app.description.present?
                %p
                  = app.description
  - else
    %p
      You have no apps, create a
      = link_to "new app", new_backend_app_path
