.form.form--padding
  - if @errors
    .form__errors
      %p
        = @errors
  = form_for @app do |f|
    .form__field
      .form__field__text
        %p
          What is the name of your app?
      = f.text_field :name, autocomplete: "off",
        class: "form__input--green form__input--medium form__input--width",
        placeholder: "e.g. Used Car Marketplace"
    .form__field
      .form__field__text
        %p
          Give a short description of your app (optional)
      = f.text_area :description,
        class: "form__textarea--green form__textarea--medium form__textarea--width",
        placeholder: "e.g. People can buy used cars from others"
    = f.button "Create App", class: "form__button--green form__button--medium"
