= content_for :page_title, @app.name

.content__body
  %h3
    = @app.name
  %p
    - if @app.description.present?
      = @app.description
      \-
    = link_to "edit", edit_backend_app_path(@app)
  %p
    = link_to "Status", status_backend_app_path(@app)
  %p
    Add
    = link_to "more features", new_backend_app_feature_path(@app)
