= content_for :page_title, @app.name

.content__body
  %h3
    = link_to "Apps", backend_apps_path
    \-
    = @app.name
  %p
    - if @app.description.present?
      = @app.description
  .content__body__list
    %ul{ type: "circle" }
      %li
        %p
          = link_to "Components", index_backend_app_components_path(@app)
      %li
        %p
          = link_to "Models", backend_app_models_path(@app)
      %li
        %p
          = link_to "Documentation", "#"
