.content__body
  %h3
    Status for
    <span class="font-weight-medium">#{@app.name}</span> -
    #{@status}
  - if @incompleted.present?
    .content__body__list
      %p
        The following features are being added:
      %ol
        - @incompleted.each do |feature|
          %li
            %p
              #{feature.created_at} - #{feature.description}
    - if @completed.present?
      .content__body__list
        %p
          Recently added features:
        %ol
          - @completed.each do |feature|
            %li
              %p
                %span.green-dark
                  #{feature.completed_at} - #{feature.description}
    .content__body__list
      %p
        We will notify you when your app is ready, in the meantime:
      %ul
        %li
          %p
            View the details of
            = link_to "your app", backend_app_path(@app)
        %li
          %p
            Create a
            = link_to "new app", new_backend_app_path
        %li
          %p
            Add a
            = link_to "payment method", "#"
  - else
    %p
      = link_to "Go to app", "#"
