- if content_for? :header
  = yield :header
- else
  %header
    .header
      .header__logo
        = link_to "Firebot", root_path
      .header__navigation--right
        - if logged_in?
          = link_to "Logout", logout_path
        - else
          = link_to "Login", login_path
          = link_to "Sign up", new_user_path
